<div class="overlay overlayJS"></div>
<div class="modal modalWrapJS">
	<div class="modal__wrap">
		<div class="modal__main">
			<svg class="modal__icon"><use xlink:href="#{{this.icon}}"></use></svg>
			<span class="modal__title">{{this.title}}</span>
			<p class="modal__desc">{{this.desc}}</p>
		</div>
		<span class="modal__close btn-style btn-style_gray modalCloseJS">Закрыть</span>
	</div>
</div>
